name: Continuous Integration

on:
  pull_request:
  push:

jobs:
  check-linting-and-formatting:
    runs-on: ubuntu-latest
    container: jamieleecho/coco-dev:latest
    steps:
      - name:  Install requirements
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libblas-dev liblapack-dev

      - uses: actions/checkout@master

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: Check linting, formatting
        run: |
          make check-all

  check-build:
    runs-on: ubuntu-latest
    container: jamieleecho/coco-dev:latest
    steps:
      - uses: actions/checkout@master

      - name: Install Requirements
        run: |
          make sync

      - name: Run tests
        run: |
          make run-tests
      
      - name: Check compile
        run: |
          make
